DB_ENGINNE=mysql
AIRFLOW_USER=airflow
AIRFLOW_HOME=/usr/local/airflow
AIRFLOW_DB_HOST=mysql
AIRFLOW_DB_PORT=3306
AIRFLOW_DB_DATABASE=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=password
AIRFLOW_WORKER=redis
AIRFLOW_WORKER_HOST=redis
AIRFLOW_WORKER_PORT=6379
AIRFLOW_WORKER_DATABASE=0
# SequentialExecutor, LocalExecutor, CeleryExecutor
AIRFLOW_EXECUTOR=CeleryExecutor
AIRFLOW_EXAMPLES=True
AIRFLOW_AUTH=False
PYTHONPATH=/usr/local/airflow
