AIRFLOW_USER=airflow
AIRFLOW_HOME=/usr/local/airflow

# MySQL
# AIRFLOW_DB_CONN=mysql://airflow:password@localhost:3306/airflow

# sqlite
AIRFLOW_DB_CONN=sqlite:////usr/local/airflow/airflow.db

AIRFLOW_WORKER=redis
AIRFLOW_WORKER_HOST=redis
AIRFLOW_WORKER_PORT=6379
AIRFLOW_WORKER_DATABASE=0
# SequentialExecutor, LocalExecutor, CeleryExecutor
AIRFLOW_EXECUTOR=SequentialExecutor
AIRFLOW_EXAMPLES=True
AIRFLOW_AUTH=False
SQL_ALCHEMY_POOL_SIZE=5
SQL_ALCHEMY_POOL_RECYCLE=3600
PYTHONPATH=/usr/local/airflow
